extends base

block content
  main.main
    .card-container
    
      each review in reviews
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/tours/${review.tour.imageCover}`, alt=`${review.tour.name}`)
            h3.heading-tertirary
              span= review.tour.name

          -const dateStr = review.createdAt.toLocaleDateString('en-us', { day: 'numeric', month: 'long', year: 'numeric' })

          .card__details
            h4.card__sub-heading= `Reviewed on ${dateStr}`
            .reviews__card
              p.card__text= review.review
                .reviews__rating
                  each star in [1, 2, 3, 4, 5]
                    svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                      use(xlink:href='/img/icons.svg#icon-star')
            

          .card__footer
            button.btn--danger.delete-review(data-review-id=review._id) Delete This Review   
            button.btn--edit-review(data-review-id=review._id data-review-content=review.review data-review-rating=review.rating) Edit This Review
